@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../web-fonts/bebasneue_regular-webfont.eot');
    src: url('../web-fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../web-fonts/bebasneue_regular-webfont.woff') format('woff'),
         url('../web-fonts/bebasneue_regular-webfont.ttf') format('truetype'),
         url('../web-fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'octin_spraypainta_regular';
    src: url('../web-fonts/octin_spraypaint_a_rg-webfont.eot');
    src: url('../web-fonts/octin_spraypaint_a_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../web-fonts/octin_spraypaint_a_rg-webfont.woff2') format('woff2'),
         url('../web-fonts/octin_spraypaint_a_rg-webfont.woff') format('woff'),
         url('../web-fonts/octin_spraypaint_a_rg-webfont.ttf') format('truetype'),
         url('../web-fonts/octin_spraypaint_a_rg-webfont.svg#octin_spraypainta_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}