<section id="contest">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center tagline">
				<h1>ENTER TO WIN A PRIZE</h1>
				<h1>BUNDLE FROM THE TOUR</h1>
			</div>
			<div class="col-xs-12">
				
			</div>
			<div class="col-xs-12">
				
			</div>
		</div>
	</div>	
</section>