<section id="dates">
  <div id="tourdates-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Tour Dates</h1>
        </div>    
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row listing">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <div>
                <span class="date"><strong>09/08 | Dallas, TX</strong></span>
                <a href="http://www.bandsintown.com/event/10326553-hollywood-undead-dallas-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/09 | Houston, TX</strong></span>
                <a href="http://www.bandsintown.com/event/10326556-hollywood-undead-houston-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/10 | Boca Raton, FL</strong></span>
                <a href="http://www.bandsintown.com/event/10326487-hollywood-undead-boca-raton-florida-atlantic-university-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/11 | Tempe, AZ</strong></span>
                <a href="http://www.bandsintown.com/event/10327430-hollywood-undead-tempe-the-marquee-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/12 | Las Vegas, NV</strong></span>
                <a href="http://www.bandsintown.com/event/10326579-hollywood-undead-las-vegas-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/14 | San Diego, CA</strong></span>
                <a href="http://www.bandsintown.com/event/10326582-hollywood-undead-san-diego-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/15 | Los Angeles, CA</strong></span>
                <a href="http://www.bandsintown.com/event/10327431-hollywood-undead-los-angeles-the-mayan-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/16 | Riverside, CA</strong></span>
                <a href="http://www.bandsintown.com/event/10327432-hollywood-undead-riverside-riverside-municipal-auditorium-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/18 | Portland, OR</strong></span>
                <a href="http://www.bandsintown.com/event/10327434-hollywood-undead-portland-crystal-ballroom-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/19 | Boise, ID</strong></span>
                <a href="http://www.bandsintown.com/event/10327437-hollywood-undead-boise-knitting-factory-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/20 | Seattle, WA</strong></span>
                <a href="http://www.bandsintown.com/event/10327435-hollywood-undead-seattle-showbox-market-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/21 | Spokane, WA</strong></span>
                <a href="http://www.bandsintown.com/event/10327436-hollywood-undead-spokane-knitting-factory-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/23 | Edmonton, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10327439-hollywood-undead-edmonton-union-hall-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/24 | Calgary, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10327440-hollywood-undead-calgary-macewan-ballroom-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/25 | Saskatoon, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10327441-hollywood-undead-saskatoon-obrians-event-centre-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/26 | Winnipeg, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10326759-hollywood-undead-winnipeg-the-garrick-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/28 | Bismarck, ND</strong></span>
                <a href="http://www.bandsintown.com/event/10292456-hollywood-undead-bismarck-civic-center-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/29 | Minneapolis, MN</strong></span>
                <a href="http://www.bandsintown.com/event/10327442-hollywood-undead-minneapolis-first-avenue-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/30 | Sioux Falls, SD</strong></span>
                <a href="http://www.bandsintown.com/event/10327443-hollywood-undead-sioux-falls-the-district-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/02 | Detroit, MI</strong></span>
                <a href="http://www.bandsintown.com/event/10327451-hollywood-undead-detroit-the-fillmore-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/03 | Louisville, KY</strong></span>
                <a href="http://www.bandsintown.com/event/10104774-hollywood-undead-louisville-champions-park-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/04 | Pittsburgh, PA</strong></span>
                <a href="http://www.bandsintown.com/event/10327452-hollywood-undead-pittsburgh-stage-ae-main-floor-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/05 | Toronto, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10326488-hollywood-undead-toronto-phoenix-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/06 | Montreal, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10327453-hollywood-undead-montreal-metropolis-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/08 | Cleveland, OH</strong></span>
                <a href="http://www.bandsintown.com/event/10326489-hollywood-undead-cleveland-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/09 | Columbus, OH</strong></span>
                <a href="http://www.bandsintown.com/event/10327454-hollywood-undead-columbus-newport-music-hall-indoor-stage-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/10 | Chester, PA</strong></span>
                <a href="http://www.bandsintown.com/event/10016187-hollywood-undead-chester-ppl-park-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/12 | New York, NY</strong></span>
                <a href="http://www.bandsintown.com/event/10327455-hollywood-undead-new-york-webster-hall-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/13 | Boston, MA</strong></span>
                <a href="http://www.bandsintown.com/event/10326490-hollywood-undead-boston-house-of-blues-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/14 | Silver Spring, MD</strong></span>
                <a href="http://www.bandsintown.com/event/10326491-hollywood-undead-silver-spring-the-fillmore-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/16 | Grand Rapids, MI</strong></span>
                <a href="http://www.bandsintown.com/event/10326492-hollywood-undead-grand-rapids-the-intersection-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/17 | Green Bay, WI</strong></span>
                <a href="http://www.bandsintown.com/event/10327057-hollywood-undead-green-bay-the-sandlot-entertainment-complex-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/20 | Lawrence, KS</strong></span>
                <a href="http://www.bandsintown.com/event/10326760-hollywood-undead-lawrence-granada-theater-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/21 | Denver, CO</strong></span>
                <a href="http://www.bandsintown.com/event/10327058-hollywood-undead-denver-summit-music-hall-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/22 | Salt Lake City, UT</strong></span>
                <a href="http://www.bandsintown.com/event/10326754-hollywood-undead-salt-lake-city-in-the-venue-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/24 | Elverta, CA</strong></span>
                <a href="http://www.bandsintown.com/event/10016355-hollywood-undead-elverta-gibson-ranch-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>11/14 | Orlando, FL</strong></span>
                <a href="http://www.bandsintown.com/event/10326493-hollywood-undead-orlando-central-florida-fairgrounds-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
