<section id="dates">
  <div id="tourdates-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Tour Dates</h1>
        </div>    
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row listing">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <div>
                <span class="date"><strong>09/08 | Dallas, TX</strong></span>
                <a href="http://www.ticketmaster.com/event/0C004EF614A96953" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/09 | Houston, TX</strong></span>
                <a href="http://www.ticketmaster.com/event/3A004EF6137688A3" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/10 | Boca Raton, FL</strong></span>
                <a href="http://www.bandsintown.com/event/10326487-hollywood-undead-boca-raton-florida-atlantic-university-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/11 | Tempe, AZ</strong></span>
                <a href="http://www.etix.com/ticket/p/6345503/hollywood-undead-with-crown-the-empirei-prevail-tempe-marquee-theatre?cobrand=luckymanonline" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/12 | Las Vegas, NV</strong></span>
                <a href="http://www.ticketmaster.com/event/17004EF82A6F0A3C" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/14 | San Diego, CA</strong></span>
                <a href="http://www.ticketmaster.com/event/0A004EF7B8091CD0" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/15 | Los Angeles, CA</strong></span>
                <a href="http://www.ticketmaster.com/event/09004EF7BB65437E" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/16 | Riverside, CA</strong></span>
                <a href="http://www.ticketmaster.com/event/0B004EF6DB4257C9" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/18 | Portland, OR</strong></span>
                <a href="https://www.etix.com/ticket/p/7456931/emporium-presentshollywood-undeadall-ages-portland-%20mcmenamins-crystal-ballroom" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/19 | Boise, ID</strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6081415&pl=kfid" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/20 | Seattle, WA</strong></span>
                <a href="http://axs.com/events/281099/hollywood-undead-tickets?skin=showboxpresents" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/21 | Spokane, WA</strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6081405&pl=kfwa" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/23 | Edmonton, Canada</strong></span>
                <a href="https://www.ticketfly.com/purchase/event/913429?utm_medium=bks" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/24 | Calgary, Canada</strong></span>
                <a href="https://www.ticketfly.com/purchase/event/913399?utm_medium=bks" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/25 | Saskatoon, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10327441-hollywood-undead-saskatoon-obrians-event-centre-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/26 | Winnipeg, Canada</strong></span>
                <a href="http://www.bandsintown.com/event/10326759-hollywood-undead-winnipeg-the-garrick-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/28 | Bismarck, ND</strong></span>
                <a href="http://www.ticketmaster.com/event/06004EF4DE268ADD" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/29 | Minneapolis, MN</strong></span>
                <a href="https://www.etix.com/ticket/p/6030481/the-noise-presentshollywood-undead-with-special-guests-crown-the-empire-and-i-prevail-minneapolis-first-avenue" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>09/30 | Sioux Falls, SD</strong></span>
                <a href="http://thedistrictsf.tunestub.com/event.cfm?id=216977&cart" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/02 | Detroit, MI</strong></span>
                <a href="http://www.ticketmaster.com/event/08004EF7F0F15D3E" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/03 | Louisville, KY</strong></span>
                <a href="http://www.bandsintown.com/event/10104774-hollywood-undead-louisville-champions-park-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/04 | Pittsburgh, PA</strong></span>
                <a href="http://www.ticketmaster.com/event/16004EEF8AA71ADD?brand=promowestns" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/05 | Toronto, Canada</strong></span>
                <a href="http://www.ticketmaster.ca/event/10004EFBD16185F1" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/06 | Montreal, Canada</strong></span>
                <a href="http://www.ticketmaster.ca/event/10004EF694744694?lang=en-ca&brand=metropolis&camefrom=CFC_SPECTRA_EN" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/08 | Cleveland, OH</strong></span>
                <a href="http://www.ticketmaster.com/event/05004EF7257DA011" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/09 | Columbus, OH</strong></span>
                <a href="http://www.ticketmaster.com/event/05004EEF8DE72486?brand=promowest" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/10 | Chester, PA</strong></span>
                <a href="http://www.bandsintown.com/event/10016187-hollywood-undead-chester-ppl-park-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/12 | New York, NY</strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6072485&pl=webconcerts" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/13 | Boston, MA</strong></span>
                <a href="http://www.ticketmaster.com/event/01004EF6D72581BF" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/14 | Silver Spring, MD</strong></span>
                <a href="http://www.ticketmaster.com/event/15004EF6DADE6E8B" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/16 | Grand Rapids, MI</strong></span>
                <a href="http://www.etix.com/ticket/p/7913198/the-noise-presentshollywood-undead-grand-rapids-the-intersection" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/17 | Green Bay, WI</strong></span>
                <a href="http://tinyurl.com/p8omu3h" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/18 | Chicago, IL</strong></span>
                <a href="http://www.ticketmaster.com/event/04004EF8EAEE6A54" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>            
            <li>
              <div>
                <span class="date"><strong>10/20 | Lawrence, KS</strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6083565&pl=granada" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/21 | Denver, CO</strong></span>
                <a href="http://www.ticketweb.com/t3/sale/SaleEventDetail?dispatch=loadSelectionData&eventId=6084125&pl=summit" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/22 | Salt Lake City, UT</strong></span>
                <a href="http://www8.ticketingcentral.com/V2/OfferInfo.aspx?t=CA241B9E8D29215ED37D3ED&og=-1" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>10/24 | Elverta, CA</strong></span>
                <a href="http://www.bandsintown.com/event/10016355-hollywood-undead-elverta-gibson-ranch-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date"><strong>11/14 | Orlando, FL</strong></span>
                <a href="http://www.bandsintown.com/event/10326493-hollywood-undead-orlando-central-florida-fairgrounds-2015?artist=Hollywood+Undead&came_from=193" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
