<section id="dates">
  <div id="tourdates-head">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>Tour Dates</h1>
        </div>    
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row listing">
        <div class="col-lg-8 col-lg-offset-2">
          <ul>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/05 | Niemark, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888630/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>  
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/06 | Koln, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888639/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li> 
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/07 | Leipzig, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888648/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/08 | Warsaw, Poland</strong></span>
                <a href="http://www.bandsintown.com/event/8888650/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/09 | Berlin, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888667/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/10 | Hamburg, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888688/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/11 | Nijmegen, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888694/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/12 | Paris, France</strong></span>
                <a href="http://www.bandsintown.com/event/8888698/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/13 | Brighton, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888702/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/14 | Manchester, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888704/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/15 | Glasgow, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888706/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/16 | Birmingham, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888708/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/17 | Cardiff, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888712/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/18 | London, UK</strong></span>
                <a href="http://www.bandsintown.com/event/8888717/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li> 
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/19 | Aarschot, Belgium</strong></span>
                <a href="http://www.bandsintown.com/event/8888719/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/20 | Esch Sur Alzette, Luxembourg</strong></span>
                <a href="http://www.bandsintown.com/event/8888720/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li> 
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/21 | Geneve, Switzerland</strong></span>
                <a href="http://www.bandsintown.com/event/8888919/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/22 | Aarau, Switzerland</strong></span>
                <a href="http://www.bandsintown.com/event/8888986/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/23 | Munchen, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8888981/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/24 | Brescia, Italy</strong></span>
                <a href="#" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/25 | Wien, Austria</strong></span>
                <a href="http://www.bandsintown.com/event/8888997/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/26 | Budapest, Hungary</strong></span>
                <a href="http://www.bandsintown.com/event/8888625/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>
            <li>
              <div>
                <span class="date whiteglowtxt"><strong>2/27 | Karlsruhe, Germany</strong></span>
                <a href="http://www.bandsintown.com/event/8889016/" target="_blank"><button class="ticket btn btn-default">TICKETS</button></a>
              </div>
            </li>                                                             
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
